
header{
	background-image: url('../../public/images/book.jpg');
	background-position: 50% 50%;
	background-color:rgba($color-primary,.7);
	background-blend-mode: multiply;
	width:100%;

	#site-name{
		color:white;
	}

	nav{
		background:$color-second;padding-bottom:10px!important;z-index:1!important;
		color:white;
		@media #{$pc}{
			position:relative;
		}
	}
	.navbar-brand{color:white;}
	#nav-content{
		font-size:1.1em;background:$color-second;
		@media #{$phone}{
			position:absolute;top:100%;width:100%;
		}
	}
	ul{ 
		li:first-child{margin-left:15%;}
		li{
			border-bottom:5px solid transparent; cursor:pointer;
			position:relative;padding:5px 20px;

		 	&:hover{
		 		border-bottom-color:darken($color-primary, 20%);
		 	}
 			&.active{
 				border-bottom-color:$color-primary;color: $color-primary;
 			}
 			@media #{$pc}{
 				&:hover >ul{display:flex;}
 			}
 			
		}
		a{
			display:block;padding:10px 5px;
		}
	}

	#header-contact{
		background:linear-gradient(90deg, transparent, rgba($color-second, .9) 80%);
		color:white;
		div>*{display:inline-block;vertical-align: top;}

		div>i{
			margin-top:20px;margin-right:10px;font-size:2em;
		}
		address{padding-top:10px;}
		address i.icon{margin:2px 8px;}
	}
	#site-nav-position{
		font-size:1.1em!important;background:white;position:relative!important;
		height:25px;
		margin:0;
		span{display:block;position:absolute;height:100%;width:100%;left:0;top:0;text-indent:10px;}
		.bg{
			display:block;
			height:100%;
			z-index:0;
			background:$color-primary;
			&::after{
				position:absolute;width:0;height:0;right:0;top:0;
				content:'';border:25px solid transparent;border-right-color:white;
				border-bottom:0;
			}
			@media #{$pc}{
				width:30%;
			}
		}
	}
}
