$blue:rgb(0,80,255);
$green:rgb(20,200,0);
$red:rgb(230,0,0);
$orange:rgb(240, 130, 0);

$font:arial narrow;
	
$color-primary:$orange;
$color-second:rgb(20,20,60);

$pc : "screen and (min-width:768px)";
$phone : "screen and (max-width:768px)";
