@import "./utils/variables";

#diaporama{
	
}
#search-event{
	span{
		padding:5px;border-radius:10px;
	}
	input{width:80%;border:none;padding:3px;border-bottom:2px solid $color-second;color:$color-second;}
}
#gallery{
	margin:10px 0;
	h3{
		margin:5px 0;
		background:linear-gradient(90deg, white 98%, $color-second 2%);
		color:$color-second;
		&:hover{
			background:linear-gradient(90deg, white 98%, $color-primary 2%);
		}
		i.date{color:rgb(200,200,200);font-size:.7em;}
		i.icon{color:$color-primary;}
	}
	.images{
		.image{
			img{
				filter:grayscale(0.8);
				transition:all .2s ease;
				&:hover{
					filter:grayscale(0);
				}
			}
			@media #{$pc}{
				height:220px;overflow:hidden;cursor:pointer;
				img{height:100%}
			}
			@media #{$phone}{
				img{width:100%;}
			} 
		}
	}
}
