@import "./utils/variables";

#slide{
	height:500px;position:relative; 
	#images{
		height:100%;padding:0;overflow:hidden;
	}
	img{
		width:100%;
		@media #{$phone}{
			width:150%;margin-left:-20%;
		}
	}
	#over-slide{
		color:white;position:absolute;top:50px;background:rgba($color-second, .3);
		padding:15px;
		p{font-style:italic;}
		a{padding:7px 15px;background:$color-primary;border-radius:20px;}
	} 
}